# Profile-specific settings are local
config/*/
!config/default/

# Automatically updated local dictionaries
config/default/*.local.*
config/*/*.local.*


# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# build
*.log

# generated subtitles
*.eng.sup
*.eng.srt
*.ja.srt
*.ja.mkv

# temp
work/
output/

# python
.venv/
.pytest_cache/
